
  <div className = "row">
    <div class="title">
      <br><%="Snapshot" %><br>
        <div class="tagline"><%="Management Made Simple"%></div>
      <%= link_to(restaurants_path) do%>
        <button>View My Restaurants</button>
      <%end%>
      <br>
    </div>

  <div className = "row">
    <ul class = "flex-container">
      <li class="quote_box"><br><%= "\"Snapshot is giving us more accurate and real-time numbers, which allows us to see where we need to adjust price points.\""%><br><br>
        <%= "-Chris DeLong" %><br>
        <%="General Manager" %><br>
        <%= "Longshore Restaurant" %>
      </li>
      <li class="quote_box"><br><%= "\"When asked what our pour costs are running, its great knowing for sure by just a couple clicks\"" %><br><br><br>
        <%= "-Katie Johnson" %><br>
        <%= "Director of Food and Beverage" %><br>
        <%= "Landing Bar & Grill" %>
      </li>
      <li class="quote_box"><br><%= "\"Snapshot is giving us more accurate and real-time numbers, which allows us to see where we need to adjust price points.\""%><br><br>
        <%= "-Andrew Smith" %><br>
        <%="General Manager" %><br>
        <%= "The Lobster Pot" %>
      </li>
    </ul>
  </div>
  <div className = "row">
    <div class = "intro-text">
      <%= "Take control of your business by tracking fundamentals and public perception" %>
    </div>
  </div>
</div>
</div>
