<div className = "row">
  <div class="title">
    <br><%= "Management Made Simple" %>
  </div>
</div>

<div className = "row">
  <div class = "intro-text">
    <%= "Take control of your business by tracking fundamentals and public perception" %>
  </div>
</div>

<div className = "row">
  <div class = "service-reviews">
    <%= "\"Snapshot is giving us more accurate and real-time numbers, which allows us to see where we need to adjust price points.\""%>
    <%= "Chris DeLong, General Manager"%><br>
    <%= "Longshore Restaurant"%>
  </div>
</div>

<div className = "row">
  <div class = "service-reviews">
    <%= "\"When asked what our pour costs are running, its great knowing for sure by just a couple clicks\"" %><br>
    <%= "Katie Johnson, Director of Food and Beverage" %><br>
    <%= "Knots Landing Bar & Grill"%>
  </div>
</div>
