
<% data = [] %>


<div class= "rest-reports">

  <div class="rest-name">
    <h2>
      <%= @restaurant.name %>
    </h2>
  </div>

<h3>Weekly Reports</h3>
  <div style="overflow-y: scroll; width: 400px; height:350px; border: solid black; padding: 10px; class: row small-6 ">
    <% ytd = 0 %>
    <% avg = 0 %>
    <% theadcount = 0 %>
    <% @reports.each do |report| %>
      <% fcost = number_to_percentage((report.food_expenses / report.food_sales) * 100, precision: 0) %>
      <% lcost = number_to_percentage((report.liquor_expenses / report.liquor_sales) * 100, precision: 0) %>
      <% tsales = report.food_sales + report.liquor_sales %>
      <% tcost = report.food_expenses + report.liquor_expenses %>
      <% tlabor = report.front_house_payroll + report.back_house_payroll + report.manager_payroll %>
      <% ppercent = number_to_percentage((tlabor / tsales) * 100, precision: 0)  %>
      <% ytd = ytd + tsales %>
      <% theadcount = theadcount + report.headcount %>
      <% data << [report.date, tsales] %>

      Week Ending: <%=link_to report.date.strftime("%m/%d/%Y"), report_path(report)%><br>
      Food Cost: <%= fcost %><br>
      Liquor Cost: <%= lcost %><br>
      Payroll Cost: <%= ppercent %><br>
      Total Sales: <%=number_to_currency(tsales)%><br>
      <br>
    <% end %>
  </div>
  <% if(@reports.length > 0) %>
    <% avg = ytd / theadcount %>
  <% end %>

  Average Amount Spent per Person: <%=number_to_currency(avg)%><br>
  Total Sales YTD: <%=number_to_currency(ytd)%>
  <p>
    <%= link_to "Add Weekly Report", new_restaurant_report_path(@restaurant) %>
  </p>

</div>

<div class="totals">
  <%= "Total Weekly Sales" %>
<%= line_chart data %>
</div>
